name: Publish Python Package

on:
  push:
    branches:
      - main
  release:
    types: [published]
  workflow_dispatch: # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write # This is required for trusted publishing

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine

    - name: Build package
      run: |
        python -m build

    - name: Publish to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/
        # If using API tokens:
        password: ${{ secrets.TEST_PYPI_API_TOKEN }}
        # Make upload idempotent if re-running:
        skip-existing: true
